<!DOCTYPE html>
<html>
  <head>
    <title>TM Schools Dashboard</title>
    <style>
      h1{
        font-size: 50px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(0, 102, 255);
        text-align: center;
      }

      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }

      h2 {
        font-family: Roboto;
        color: rgb(80, 80, 80);
        text-align: center;
      }

      #container {
        max-width: 720px;
        margin: 0 auto 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="container">
    <h1>TM Schools Dashboard</h1>
    <img id="banner" src="https://26c28395-e43c-4a89-b186-ab5bb78c8c66-00-2i79fv7dsyyor.sisko.replit.dev/static/banner.jpg"
    height="320" >
    <h2>About TM Schools Dashboard</h2>
    <p>
      This interactive dashboard allows users to explore information about different schools in Malaysia effortlessly. Users can search for schools by entering the school code or school name, and the app provides details such as the school code, school name, TM Interim status, VSAT availability, and TM Hybrid status.
    </p>
    <h2>
      School Code: 
    </h2>
      <div style= "text-align:center;">
      <button>Search</button>
        </div>
    <h2>
      School Name:
    </h2>
      <div style= "text-align:center;">
      <button>Search</button>
        </div>
  </body>
</html>